body{
	background-image:url('/astroreading/images/planets.jpg');
}

h2 {
	font-family: cursive;
	font-color: #cc0000;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}

div {
	border-radius: 5px;
}
#title {
	width:500px;
	float:left;
}
#outerBody {
	margin: 10px 300px 10px 400px;
	background-color:#E0E4CC;
	width: 1000px;
	height: 700px;
}

#header {
	height: 50px;
	background-color: #E0E4CC;
	clear:left;
	border-style:solid;
	border-bottom-color:blue;
	border-width:thin;
	text-align:right;
	margin: 5px 5px 0px 5px;
	padding: 5px 5px 0px 5px;
}

.innerBox {
	background-color: #E0E4CC;
	border-style:solid;
	border-bottom-color:blue;
	border-width:thin;
	text-align:left;
	margin: 5px 100px 0px 300px;
	padding: 5px 5px 0px 5px;
	width:500px;
	height:400px;
	
}

.left {
	height: 300px;
	width: 150px;
	background-color: #A7DBD8;
	float: left;
	margin-bottom: 10px;
}

.main {
	background-color: #E0E4CC;
	float: left;
	margin-bottom: 10px;
	height:500px;
	padding: 5px 5px 5px 5px;
}

#footer {
	height: 50px;
	background-color: #E0E4CC;
    clear: left;
	text-align:center;
	color: #000000;
}

#registerLink{
	width:300px;
	height:25px;
	margin: 0px 0px 0px 0px;
	float:right;
	padding: 5px 5px 5px 5px;
	text-align:right;
	
}